<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
  <title>Home</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="home_container">
      <img src="images/Black on Transparent.png" alt="logo da kfeitariafit" class="logo">
      <h1>KfeitariaFit</h1>
      <h2>Sistema de Gestão de Clientes e Pedidos</h2>
      <div>
        <button><a href="/clientes">Clientes</a></button>
        <button><a href="/clientes">Produtos</a></button>
        <button><a href="/clientes">Pedidos</a></button>
      </div>
      <p>Desenvolvido por <a href="https://escuderodev.com.br/" target="_blank" class="link">EscuderoDev</a> - 2023</p>
    </div>
  </div>
</body>
</html>