<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Lista de Pedidos</title>
</head>
<body>
  <div class="container">
    <h1>Lista de Pedidos</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col"CLIENTE</th>
        <th scope="col">ORÇAMENTO</th>
        <th scope="col">VALOR R$</th>
        <th scope="col">DATA DA ENTREGA</th>
        <th scope="col">DATA DO PAGAMENTO</th>
        <th scope="col">AÇÕES</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-light" th:each="pedido : ${listaDePedidos}">
        <td th:text="${pedido.cliente}"></td>
        <td th:text="${pedido.orcamento}"></td>
        <td th:text="${pedido.valor}"></td>
        <td th:text="${pedido.dataDeEntrega}"></td>
        <td th:text="${pedido.dataDePagamento}"></td>
        <td>
          <button class="btn btn-outline-primary"><a th:href="@{/formulario?id={id}(id=${pedido.idpedido})}">Editar</a></button>
          <form action="/pedidos" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="idpedido" th:value="${pedido.idpedido}">
            <button class="btn btn-outline-danger" type="submit">Excluir</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-primary"><a href="/formulario">Novo Cadastro</a></button>
  </div>
</body>
</html>