.btn_container_home {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn-home {
    text-decoration: none;
    color: white;
}

.btn-home:hover {
    text-decoration: none;
    color: white;
}

.btn-home-yellow {
    color: black;
}

.btn-home-yellow:hover {
    text-decoration: none;
    color: black;
}

.main_home {
    height: 78.5vh;
}

.btn_cadastro {
    width: 150px;
}