@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main__cadastroPedidos {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.left__cadastroPedidos {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vw;
}

.left__cadastroPedidos > h2 {
    font-size: 2vw;
    color: rgb(77,77,77)
}

.logo {
    width: 30vw;
}

.right__cadastroPedidos {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__cadastro {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px, 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card__cadastro > h1 {
    color: #e2d6d6;
    font-weight: 800;
    font-size: 30px;
    margin: 0;
    padding: 10px 0 0;
}

.text__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    padding: 0px 50px;
}

.text__field > input, textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.text__field > label {
    color: #f0ffffde;
    margin-bottom: 5px;
}

.text__field > input::placeholder {
    color: #f0ffff94;
}

.btn__login {
    width: 40%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px; /*espaçamento entre as letras*/
    color: #2b134b;
    background: #d489c4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn__login:hover {
    background: #c20e44;
    color: #ffffff;
    transition: 0.5s all;
}

@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        width: 50vw;
    }
    .card-login {
        width: 90%;
    }
}