@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.imagem__principal {
    width: 60vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem__principal > h2 {
    font-size: 35px;
    color: #4D4D4D;
}

.imagem__principal > p {
    font-size: 25px;
    color: #4D4D4D;
}

.logo {
    width: 30vw;
}

.btn__home {
    width: 180px;
    height: 35px;
    background: #FFCBDB;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.btn__home:hover {
    background: #c20e44;
    color: #ffffff;
    transition: 0.5s all;
}

.botoes__home {
    margin: 50px 0;
}

span {
    color: #FFCBDB
}