<head th:fragment="head">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
  <link rel="stylesheet" href="../static/css/usuario.css" th:href="@{/css/usuario.css}">
  <title>GameShop</title>
</head>

<header th:fragment="header" class="header">
  <div>
    <p class="logo mb-0"><a href="/home">Game<span>Shop</span></a></p>
  </div>
  <nav>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
    </ul>
  </nav>
</header>

<footer th:fragment="footer" class="footer">
  <p>Desenvolvido por <a class="footer_link" href="https://escuderodev.com.br/" target="_blank">Escudero<span>Dev</span></a> - 2023</p>
</footer>